



.barra_navegacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.barra_navegacion p, i{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6e6e6e;
    font-size: small;
}

.barra_navegacion i{
    font-size: 22px;
}



.button_nav:nth-child(1){
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
    gap: 10px;
    background: linear-gradient(to right, #ff6f10, #f64c00);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 5px;
    color: white;
    width: 38px;
    height: 38px;
    box-shadow: 0 5px 8px rgb(190, 189, 189);
}

.button_nav:nth-child(1) i{
    color: white;

}

.button_nav:nth-child(1) p{
    color: white;

}

