*{
    padding: 0;
    margin: 0;
    font-family:  "Roboto", sans-serif;
}

body{
  display: flex;
  width: 100%;
  border: 1px solid blue;
}

.barra_navegacion{
    border: 1px solid orange;
    width: 10%;
    height: 100vh;
}

.main_container{
    border: 2px solid rgb(255, 8, 214);
    width: 100%;
    height: 100vh;
}

.header{
    border: 1px solid black;
}

.orden{
    border: 4px solid red;
    width: 100%;
    height: 100vh;
}

