.profile{
    display: none;
    width: 70%;
    --border: 3px solid black;
    padding: 40px;
}

.profile_labels{
    color: black;

}

.profile_title{
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 15px;
}

.user_banner{
    margin-top: 40px;
    background: linear-gradient(to right, #ff6700, #eb5200);
    display: flex;
    align-items: center;
    border-radius: 20px;
    color: white;
    width: 100%;
    height: 200px;
    box-shadow: 0 3px 10px rgba(116, 116, 116, 0.212);
}

.user_photo{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 5px solid white;
    margin: 40px;
    
}

.user_data{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.user_contact{
    display: flex;
    gap: 20px;
}


.email_box{
    display: flex;
    gap: 10px;
}

.number_box{
     display: flex;
    gap: 10px;
}

.edit_profile_button{
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin-right: 40px;
    border-radius: 20px;
    background-color: white;
    color: #fb5600;
    padding: 15px;
    width: 120px;
    height: 30px;
    font-weight: 500;

}

.data{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.user_stats{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}

.stat_box{
    width: 18%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px;
    height: 145px;
    border: 1px solid black;
    border-radius: 20px;
    border: 1px solid rgba(153, 153, 153, 0.582);
    box-shadow: 0 3px 10px rgba(116, 116, 116, 0.212);
}


#bag{
    background-color: #ffedd4 ;
    padding: 10px;
    color: #f66321;
    font-size: 30px;
    border-radius: 10px;
    height: 40px;
    width: 40px;
    text-align: center;
}

#award{
    background-color: #dbeafe ;
    padding: 10px;
    color: #3775fb;
    font-size: 30px;
    border-radius: 10px;
    height: 40px;
    width: 40px;
     text-align: center;
}

#calendar{
    background-color: #dbfce7 ;
    padding: 10px;
    color: #36bc67;
    font-size: 30px;
    border-radius: 10px;
    height: 40px;
    width: 40px;
     text-align: center;
}

#star{
    background-color: #fef9c2;
    padding: 10px;
    color: #d49213;
    font-size: 30px;
    border-radius: 10px;
    height: 40px;
    width: 40px;
     text-align: center;
}

.number_stat{
    font-size: 25px;
    font-weight: 400;

}

.description_stat{
    font-size: 15px;
    font-weight: 300;
    color: rgb(90, 90, 90);
}

/*PERSONAL INFO & RECENT ORDERS*/


.user_info_orders{
    --border: 1px solid black;
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    align-items: top;
}

.user_info{
    display: flex;
    flex-direction: column;
    padding: 20px;
    --border: 1px solid black;
    border-radius: 20px;
    width: 45%;
    background-color: white;
    box-shadow: 0 3px 10px rgba(116, 116, 116, 0.212);
}

.label_user{
     font-size: 17px;
     font-weight: 500;
     margin-bottom: 15px;
}

.label_user_info{
    font-size: 15px;
    color: rgb(92, 92, 92);
}

.input_user_data{
    padding: 10px;
    width: 95%;
}

.spacer{
    display: flex;
    gap: 3px;
    flex-direction: column;
    margin-bottom: 20px;
}

.input_user_data{
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #eeeeee;
    border: 1px solid #c7c7c7;
}

.debit_img{
    width: 512px;
    height: 384ps;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgba(116, 116, 116, 0.212);
}

