.order_menu{
    
    margin: 10px;
    
    border-radius: 10px;
    border: 1px solid rgb(192, 192, 192);
    
}

.menu_orden {
    width: 100%;             /* que ocupe todo el contenedor */
    display: flex;
    flex-direction: column;
    align-items: center;    /* o remove align-items para default */
    box-sizing: border-box;
}


.labels_order_menu{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    padding-top: 30px;
    padding-bottom: 5px;
}

.ver_todo_label{
    color: #f64c00;
    font-size: 14px;
}



.tab_item{
    --padding-right: 20px;
    display: flex;
    align-items: center;
    gap: 12px;
   
    width: 100%;
    height: 100px;
    --border: 1px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
  
    border-bottom: 1px solid rgb(231, 231, 231) ;

  
}

.menu_orden{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.labels_tab{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 10px;
    
}

.tab_content{
    display: flex;
    justify-content: space-between;
    --border: 1px solid black;
    width: 100%;
   
}

.tab_item_img{
    margin-left: 20px;
    width: 80px;
    height: 80px;
    border-radius: 12px;
}

.item_label{
    font-size: 15px ;
}

.extra_label{
    font-size: 12px ;
}

.precio_label{
    color: #009b22;
}

.agregar_buttons_orden{
   
    display: flex;
    gap: 10px;
    align-items: center;
    margin-right: 20px;
}

.restar_icono{
    text-align: center;
    width: 20px;
    height: 20px;
    color: white;
    background-color: #bebebe;
    border-radius: 2px;
}



.sumar-icono{
    text-align: center;
    width: 20px;
    height: 20px;
    color: white;
    background-color: #f64c00;
    border-radius: 2px;
}

.total_orden{
    padding: 20px;
}

.total_label{
    font-size: 20px;
}

.labels_total{
    display: flex;
    justify-content: space-between;
}

.total_cantidad{
    font-size: 23px;
    color: #009b22;
}

.checkout_button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkout{
    padding: 15px;
    margin-bottom: 30px;
    width: 78%;
    border-radius: 15px;
    background: linear-gradient(to right, #ff6f10, #f64c00);
    color: white;
    text-align: center;
}