*{
    padding: 0;
    margin: 0;
    font-family:  "Montserrat", sans-serif;
}

body{
    display: flex;
    justify-content: space-between;
     width: 100%;
     height: 100%;
     --border: 1px solid blue;
     overflow-x: hidden;
     background-color: #f9fafb;
}

.barra_navegacion{
    border: 0.4px solid #acb2b9;
    height: 100vh;
    width: 8%;
    background-color: white;
    margin-right: 10px;
}

.home{
    
    display: flex; /*<-------------------------------------------- VISUALIZAR HOME*/
    justify-content: space-between;
    width: 92%;
    
}

/*------------------CONTENEDOR PRINCIPAL-----------------*/

.main_container{
    --border: 1px solid orangered;
    width: 68%;
    margin-left: 3.5%;
    
}

.nav_bar{
    display: flex;
    margin-top: 20px;
    height: 100px;
    align-items: center;
    box-sizing: content-box;
    --border: 1px solid black;
    justify-content: space-between;
}

.greetings{
    --border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 30%;
    height: 100%;

}

.greet{
    color: rgb(124, 124, 124);
}

.welcome{
    color: rgb(59, 59, 59);
}

.options{
    --border: 1px solid green;
    height: 100%;
    display: flex;
    
}

.busqueda_container{
    background-color: #ebebeb;
    border-radius: 48px;
    padding: 5px;
    display: flex;
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
}

.busqueda{
    --border: 1px solid black;
    display: flex;
    align-items: center;
    width: 100%;
}

#icon_search{
    display: flex;
    color: #acb2b9;
    align-self: center;
    justify-content: center;
}

#search{
    padding: 7px;
    align-self: center;
    border: none;
    background-color: #ebebeb;
    outline: none;
}

.user_controls{
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.notificacion{
    width: 20px;
    height: 20px;
    filter: grayscale(100%) brightness(100%);
    margin-right: 20px;
}

.user_profile{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #f54a00;
    padding: .2px;
    margin-right: 10px;
}





/*------------------CONTENEDOR PRINCIPAL-----------------*/

.orden{
    --border: 4px solid red;
    width: 25%;
    border-radius: 10px;
}