.menu_bar{
    margin-top: 20px;
    display: flex;
    gap: 15px;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    
}



.menu_title{
    margin-top: 30px;
}

.menu_tile{
    display: flex;
    align-items: center;
   
    width: 88px;
    height: 20px;
    border: 0.5px solid #acb2b985;

    border-radius: 15px;
    padding: 10px;
    padding-right: 15px;

    
}


.menu_icon{
    width: 36px;
    height: 38px;
    
}

.menu_tile:nth-child(1) {
    border: none;
    background: #f64c00;
    color: white;
    padding-right: 20px;
    box-shadow: 0 3px 10px  #f64c00;
}

.menu_tile:nth-child(1) .menu_icon{
    
    width: 38px;
    height: 36px;
}

.menu_tile:nth-child(2) .menu_icon{
    width: 38px;
    height: 36px;
}

.menu_tile:nth-child(3){
    width: 88px;
    height: 20px;
    padding-right: 28px;
}

.menu_tile:nth-child(3) .menu_icon{
    margin-top: 2px;
    width: 40px;
    height: 40px;
}

.menu_tile:nth-child(4) .menu_icon{
    width: 30px;
    height: 30px;
}




.menu_tile:nth-child(5) .menu_icon{
    width: 30px;
    height: 30px;
    margin-right: 8px;
}

.menu_divider{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*STYLES MENU DESPLEGABLE*/

.menu_view{
    --border: 1px solid black;
    --margin-top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.menu_view img{
    width: 100%;
    height: 110%;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    overflow: hidden;
}

.pizzas{
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.66%;
}

.pastas{
    display: none;
}

.platillos{
    display: none;
}

.bebidas{
    display: none;
}

.postres{
    display: none;
}


.card{
    margin-top: 1.66%;
    border: 1px solid  #acb2b9;
    text-overflow: ellipsis;
    width: 32%;
    height: 48%;
    border-radius: 18px;
    

    box-shadow: 0 3px 10px rgb(165, 165, 165);
   
}

.card{
    box-shadow: 0 3px 10px rgb(165, 165, 165);
    
}

.data_card{
    margin-top: 0;
    padding: 15px;
     box-shadow: 0 3px 10px rgb(165, 165, 165);
    --border: 1px solid  #acb2b9;
    border-bottom: 1px solid  #acb2b9;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}

.nombre_card{
    font-size: larger;

}

.descripcion_card{
    margin-top: 10px;
    font-size: small;
    color: #4b4b4b;
     white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.tiempo_card{
    margin-top: 20px;
    display: flex;
    color: #505050;
    justify-content: flex-start;
    font-size: 14px;

}

.precio_card{
    margin-top: 5px;
    margin-bottom: 10px;
    color: #00ac25;
    font-size: 20px;
    font-weight: 400;
}


.important_card{
    margin-top: 18px;
    display: flex;
    justify-content: space-between;

}

.agrega_card{
    width: 30px;
    height: 30px;

    font-weight: 200;
    border-radius: 10px;

    color: white;
    font-size: 28px;
    background-color: #f64c00;
    padding: 4px;
    padding-top: 0px;
    padding-bottom: 6px;
    
    text-align: center;
}

