.banner_area{
    position: relative;
    display: flex;
    box-sizing: content-box;
    width: 100%;
    height: 250px;
    --border: 3px solid purple;
    margin-top: 10px;
    background: linear-gradient(to right, #101828, #1d2838);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgb(116, 116, 116);
}

.banner{
   object-fit:contain;
   width: 100%;
   height: 100%;
   display: block;
   
}

.menu_bar{
    width: 100%;
   height: 400px;
}

.text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 35px;
    color: white;
    font-size: 15px;
    --margin-bottom: 0px;
    --border: 1px solid white;
}


.text1{
    font-weight: 400;
    font-size: 20px;
}

.text2{
    
    font-weight: 200;
}

.text3{
    
    font-weight: 200;
}

.text strong{
    color: #f64c00;
    font-size: 25px;
}



.ordena_aqui_button{
    display: flex;
    background: linear-gradient(to right, #f64c00, #ff6700);
    height: 45px;
    width: 115px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    
}

.img_banner{
    width: 400px;
    height: 400px;
    position: absolute;
    left: 65%;
    top: -25%;
   
}

