.barra_navegacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logo_container{
    display: flex;
    width: 59px;
    height: 59px;
    padding: 10px;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
    background: linear-gradient(#f54a00, #fa4b00);
    border-radius: 10px;
    color: white;
}

#logo_chizza{
   font-size: 30px;
}

#logo_optn{
    font-size: 25px;
}

.optn_title{
    font-size: 13px;
}


.option_container{
    width: 45px;
    height: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: rgb(112, 112, 112);
    border-radius: 10px;
}

.option_container:nth-child(1){
    background-color: #f54a00;
    color: white;
    border-radius: 10px;
}   

.optn_nav{
    display: flex;
    flex-direction: column;
    gap: 15px;
}